body
{
	background-color: darkgray;
}

.div1
{
	background-image: url("profil.jpg");

	text-align: center;
	width: 1024px;
	height: 250px;
	font-size: 57px;
    margin-left: -19px;
    padding-top: 130px;
	color: crimson;
	background-attachment: fixed;
}
.article1
{
	background-size: cover;
	background-attachment: fixed;
}
.article1
{

	margin-left: -19px;
	width: 1024px;
	text-align: center;
	height: 52px;
	background-image: url(im1.jpg);
	font-size: 19px;
	background-repeat: no-repeat;
	

}
.article1 .a1
{
		color: white;	
}
.article1 .a1:hover
{
	color: red;
}
.article1 .a2
{
	text-decoration: none;
	color: white;
}
.article1 .a2:hover
{
	color: red;
}
.im
{
	border-radius: 19px;
	width: 350px;
	height: 200px;
	padding: 11px;
}
.im1
{
	border-radius: 19px;
	width: 350px;
	height: 500px;
	padding: 11px;
}
.im2
{
	border-radius: 19px;
	width: 520px;
	height: 400px;
	
	float: left;
}
.cm
{
	width: 220px;
	height: 165px;
	border-radius: 19px;
}
.cm1
{
	width: 320px;
	height: 265px;
	border-radius: 19px;	
}
.article
{
	margin-left: 79px;
	color: white;
	width: 450px;
	background-image: url(im1.jpg);
	background-repeat: no-repeat;
		text-align: center;
		background-size: cover;
	background-attachment: fixed;

	border-bottom:solid;
	border-bottom: chartreuse;
	border-radius: 16px;
	margin-bottom: 79px;
}
.io
{
	padding: 19px;
}
.ta
{
	background-color: darkslategray;
	color: black;
	margin-left: -19px;
	width: 1024px;
	text-align: center;
	font-size: 24px;
}
.ta
{
	background-color: darkslategray;
	color: black;
	margin-left: -19px;
	width: 1024px;
	text-align: center;
	font-size: 24px;
}